[authentication]
discord=EnterDiscordBotToken
airtable_base=EnterAirtableBaseKey
airtable_key=EnterAirtableAPIKey

[channels]
include=bot-testing,general

[reactions]
success=📥
repeat=♻️
unknown=❓
skynet=❌
